<html>  
<head>  
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/addTask.js"></script>
</head>  
<body>  
<form id="taskForm">  
  <div class="container">  
  <center>  <h1> Tasks Form</h1> </center>  
  <hr>  
    <label>Description</label>
    <input type="text" id="description"><br>
    <label>Completion</label>
    <select id="completion">
        <option value="true">Completed</option>
        <option value="false">Incomplete</option>
    </select><br>
    <input type="submit">    
</form>  
</body>  
</html>