<html>  
<head>  
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/addUser.js"></script>
</head>  
<body>  
<form id="userForm">  
  <div class="container">  
  <center>  <h1> User Form</h1> </center>  
  <hr>  
    <label>Name</label>
    <input type="text" id="userName"><br>
    <label>Email</label>
    <input type="email" id="email"><br>
    <label>Password</label>
    <input type="password" id="password"><br>
    <input type="submit">    
</form>  
</body>  
</html>