<html>

<head>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/tasks.js"></script>
</head>

<body>
    <button id="addbtn">Add</button>
    <button>Edit</button>
    <button>Delete</button>
    <h1>Tasks</h1>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Singing</td>
                <td>Completed</td>
            </tr>
            <tr>
                <td>Surfing</td>
                <td>UnComplete</td>
            </tr>
        </tbody>
    </table>
</body>

</html>