<html>

<head>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/users.js"></script>
</head>

<body>
    <button id="addbtn">Add</button>
    <button>Edit</button>
    <button>Delete</button>
    <h1>User</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Parthiban</td>
                <td>parthiyhygj@gmail.com</td>
            </tr>
            <tr>
                <td>Raja</td>
                <td>rajayhgh@gmail.com</td>
            </tr>
        </tbody>
    </table>
</body>

</html>